*.json
alexa_*
._*.yaml
home-assistant.*
.storage/*
.storage
secrets.yaml
.google.token
.sonoff.json
homeassistant.*
._.sonoff.json
._*
._*.log
home-assistant*
.DS_Store
homassistant.sh
update.sh
.bash_history
.bash_logout
.bashrc
.cache/motd.legal-displayed
.env_vars
.gitconfig
.profile
.selected_editor
.sudo_as_admin_successful
.viminfo
.HA_VERSION